:root {
  --gradient-color-one: #6d177c;
  --gradient-color-two: #fc0174;
  --horizontal-line-color: rgba(255, 255, 255, 0.4);
}

.App {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  background: rgb(109, 23, 124);
  background: linear-gradient(
    90deg,
    var(--gradient-color-one) 0%,
    var(--gradient-color-two) 100%
  );
  color: white;
}

.address-matches-dropdown-wrapper {
  margin-top: 1rem;
}

ul {
  margin: 0;
  padding: 0;
}
